/* bootrap media queries, Mobile First Method */

/* all sizes */
.FlexGrid {
	background:yellow;
	display: flex;
	flex-wrap: wrap;

	&.direction-column {
		flex-direction: column;
	}
	&.direction-row {
		flex-direction: row;
	}

	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.justify-center {
		justify-content: center;
	}
	&.justify-space-between {
		justify-content: space-between;
	}
	&.justify-space-around {
		justify-content: space-around;
	}

	& > div {
		box-sizing: border-box;
		transition: all .4s;
	}

	&.columns-1 > div {
		width: 100%;
	}
	&.columns-2 > div {
		width: 50%;
	}
	&.columns-3 > div {
		width: 33.3333%;
	}
	&.columns-4 > div {
		width: 25%;
	}
	&.columns-5 > div {
		width: 20%;
	}
	&.columns-6 > div {
		width: 16.6666%;
		&.columnspread-2 {
			width: 33.3333%;
		}
		&.columnspread-3 {
			width: 50%;
		}
		&.columnspread-4 {
			width: 66.6666%;
		}
		&.columnspread-5 {
			width: 83.3333%;
		}
		&.columnspread-6 {
			width: 100%;
		}
	}

}

@media only screen and (min-width : 320px) {
	/* xxs: Custom, iPhone Retina and above */ 
	.FlexGrid {

		&.direction-xxs-column {
			flex-direction: column;
		}
		&.direction-xxs-row {
			flex-direction: row;
		}

		&.justify-xxs-start {
			justify-content: flex-start;
		}
		&.justify-xxs-end {
			justify-content: flex-end;
		}
		&.justify-xxs-center {
			justify-content: center;
		}
		&.justify-xxs-space-between {
			justify-content: space-between;
		}
		&.justify-xxs-space-around {
			justify-content: space-around;
		}

		&.columns-xxs-1 > div {
			width: 100%;
		}
		&.columns-xxs-2 > div {
			width: 50%;
			&.columnspread-2,
			&.columnspread-xxs-2 {
				width: 100%;
			}
		}
		&.columns-xxs-3 > div {
			width: 33.3333%;
			&.columnspread-2,
			&.columnspread-xxs-2 {
				width: 66.6666%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3 {
				width: 100%;
			}
		}
		&.columns-xxs-4 > div {
			width: 25%;
			&.columnspread-2,
			&.columnspread-xxs-2 {
				width: 50%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3 {
				width: 75%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4 {
				width: 100%;
			}
		}
		&.columns-xxs-5 > div {
			width: 20%;
			&.columnspread-2,
			&.columnspread-xxs-2 {
				width: 40%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3 {
				width: 60%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4 {
				width: 80%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5 {
				width: 100%;
			}

		}
		&.columns-xxs-6 > div {
			width: 16.6666%;
			&.columnspread-2,
			&.columnspread-xxs-2 {
				width: 33.3333%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3 {
				width: 50%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4 {
				width: 66.6666%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5 {
				width: 83.3333%;
			}
			&.columnspread-6,
			&.columnspread-xxs-6 {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width : 480px) {
	/* xs: Extra Small Devices, Phones and above */ 
	.FlexGrid {

		&.direction-xs-column {
			flex-direction: column;
		}
		&.direction-xs-row {
			flex-direction: row;
		}

		&.justify-xs-start {
			justify-content: flex-start;
		}
		&.justify-xs-end {
			justify-content: flex-end;
		}
		&.justify-xs-center {
			justify-content: center;
		}
		&.justify-xs-space-between {
			justify-content: space-between;
		}
		&.justify-xs-space-around {
			justify-content: space-around;
		}

		&.columns-xs-1 > div {
			width: 100%;
		}
		&.columns-xs-2 > div {
			width: 50%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2 {
				width: 100%;
			}
		}
		&.columns-xs-3 > div {
			width: 33.3333%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2 {
				width: 66.6666%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3 {
				width: 100%;
			}
		}
		&.columns-xs-4 > div {
			width: 25%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2 {
				width: 50%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3 {
				width: 75%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4 {
				width: 100%;
			}
		}
		&.columns-xs-5 > div {
			width: 20%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2 {
				width: 40%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3 {
				width: 60%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4 {
				width: 80%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5 {
				width: 100%;
			}

		}
		&.columns-xs-6 > div {
			width: 16.6666%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2 {
				width: 33.3333%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3 {
				width: 50%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4 {
				width: 66.6666%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5 {
				width: 83.3333%;
			}
			&.columnspread-6,
			&.columnspread-xxs-6,
			&.columnspread-xs-6 {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width : 768px) {
	/* sm: Small Devices, Tablets and above */
	.FlexGrid {

		&.direction-sm-column {
			flex-direction: column;
		}
		&.direction-sm-row {
			flex-direction: row;
		}

		&.justify-sm-start {
			justify-content: flex-start;
		}
		&.justify-sm-end {
			justify-content: flex-end;
		}
		&.justify-sm-center {
			justify-content: center;
		}
		&.justify-sm-space-between {
			justify-content: space-between;
		}
		&.justify-sm-space-around {
			justify-content: space-around;
		}

		&.columns-sm-1 > div {
			width: 100%;
		}
		&.columns-sm-2 > div {
			width: 50%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2 {
				width: 100%;
			}
		}
		&.columns-sm-3 > div {
			width: 33.3333%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2 {
				width: 66.6666%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3 {
				width: 100%;
			}
		}
		&.columns-sm-4 > div {
			width: 25%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2 {
				width: 50%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3 {
				width: 75%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4 {
				width: 100%;
			}
		}
		&.columns-sm-5 > div {
			width: 20%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2 {
				width: 40%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3 {
				width: 60%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4 {
				width: 80%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5,
			&.columnspread-sm-5 {
				width: 100%;
			}

		}
		&.columns-sm-6 > div {
			width: 16.6666%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2 {
				width: 33.3333%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3 {
				width: 50%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4 {
				width: 66.6666%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5,
			&.columnspread-sm-5 {
				width: 83.3333%;
			}
			&.columnspread-6,
			&.columnspread-xxs-6,
			&.columnspread-xs-6,
			&.columnspread-sm-6 {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width : 992px) {
	/* md: Medium Devices, Desktops and above */
	.FlexGrid {

		&.direction-md-column {
			flex-direction: column;
		}
		&.direction-md-row {
			flex-direction: row;
		}

		&.justify-md-start {
			justify-content: flex-start;
		}
		&.justify-md-end {
			justify-content: flex-end;
		}
		&.justify-md-center {
			justify-content: center;
		}
		&.justify-md-space-between {
			justify-content: space-between;
		}
		&.justify-md-space-around {
			justify-content: space-around;
		}

		&.columns-md-1 > div {
			width: 100%;
		}
		&.columns-md-2 > div {
			width: 50%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2 {
				width: 100%;
			}
		}
		&.columns-md-3 > div {
			width: 33.3333%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2 {
				width: 66.6666%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3 {
				width: 100%;
			}
		}
		&.columns-md-4 > div {
			width: 25%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2 {
				width: 50%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3 {
				width: 75%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4,
			&.columnspread-md-4 {
				width: 100%;
			}
		}
		&.columns-md-5 > div {
			width: 20%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2 {
				width: 40%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3 {
				width: 60%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4,
			&.columnspread-md-4 {
				width: 80%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5,
			&.columnspread-sm-5,
			&.columnspread-md-5 {
				width: 100%;
			}

		}
		&.columns-md-6 > div {
			width: 16.6666%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2 {
				width: 33.3333%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3 {
				width: 50%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4,
			&.columnspread-md-4 {
				width: 66.6666%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5,
			&.columnspread-sm-5,
			&.columnspread-md-5 {
				width: 83.3333%;
			}
			&.columnspread-6,
			&.columnspread-xxs-6,
			&.columnspread-xs-6,
			&.columnspread-sm-6,
			&.columnspread-md-6 {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width : 1200px) {
	/* lg: Large Devices, Wide Screens and above */
	.FlexGrid {

		&.direction-lg-column {
			flex-direction: column;
		}
		&.direction-lg-row {
			flex-direction: row;
		}

		&.justify-lg-start {
			justify-content: flex-start;
		}
		&.justify-lg-end {
			justify-content: flex-end;
		}
		&.justify-lg-center {
			justify-content: center;
		}
		&.justify-lg-space-between {
			justify-content: space-between;
		}
		&.justify-lg-space-around {
			justify-content: space-around;
		}

		&.columns-lg-1 > div {
			width: 100%;
		}
		&.columns-lg-2 > div {
			width: 50%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2,
			&.columnspread-lg-2 {
				width: 100%;
			}
		}
		&.columns-lg-3 > div {
			width: 33.3333%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2,
			&.columnspread-lg-2 {
				width: 66.6666%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3,
			&.columnspread-lg-3 {
				width: 100%;
			}
		}
		&.columns-lg-4 > div {
			width: 25%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2,
			&.columnspread-lg-2 {
				width: 50%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3,
			&.columnspread-lg-3 {
				width: 75%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4,
			&.columnspread-md-4,
			&.columnspread-lg-4 {
				width: 100%;
			}
		}
		&.columns-lg-5 > div {
			width: 20%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2,
			&.columnspread-lg-2 {
				width: 40%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3,
			&.columnspread-lg-3 {
				width: 60%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4,
			&.columnspread-md-4,
			&.columnspread-lg-4 {
				width: 80%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5,
			&.columnspread-sm-5,
			&.columnspread-md-5,
			&.columnspread-lg-5 {
				width: 100%;
			}
		}
		&.columns-lg-6 > div {
			width: 16.6666%;
			&.columnspread-2,
			&.columnspread-xxs-2,
			&.columnspread-xs-2,
			&.columnspread-sm-2,
			&.columnspread-md-2,
			&.columnspread-lg-2 {
				width: 33.3333%;
			}
			&.columnspread-3,
			&.columnspread-xxs-3,
			&.columnspread-xs-3,
			&.columnspread-sm-3,
			&.columnspread-md-3,
			&.columnspread-lg-3 {
				width: 50%;
			}
			&.columnspread-4,
			&.columnspread-xxs-4,
			&.columnspread-xs-4,
			&.columnspread-sm-4,
			&.columnspread-md-4,
			&.columnspread-lg-4 {
				width: 66.6666%;
			}
			&.columnspread-5,
			&.columnspread-xxs-5,
			&.columnspread-xs-5,
			&.columnspread-sm-5,
			&.columnspread-md-5,
			&.columnspread-lg-5 {
				width: 83.3333%;
			}
			&.columnspread-6,
			&.columnspread-xxs-6,
			&.columnspread-xs-6,
			&.columnspread-sm-6,
			&.columnspread-md-6,
			&.columnspread-lg-6 {
				width: 100%;
			}
		}
	}
}